body {
    background-color: rgba(228, 89, 112, 0.705);
}

header {
    border: 3px solid black;
    padding: 5px;
    background-color: rgba(255, 192, 203, 0.63);
    position: fixed;
    width: 95%;
    height: 93px;
    text-align: center;
    margin: 0px 0px 10px 15px;
}

h1 {
    margin: 10px 10px;
    text-align: center;
}

img {
    margin: 120px 0px 5px 10px;
    width: 400px;
    height: 475px;
    border: 3px solid black;
    display: absolute;
    
}

.text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#aboutme {
    background-color: rgb(243, 217, 222);
    width: 383px;
    height: 190px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border: 1px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav ol {
    list-style-type: none;
}
  
.nav {
    display: inline-block;
    padding: 10px;
    margin: -30px 20px 5px 1px;
}

.footer ol {
    list-style-type: none;
    text-align: center;
}
  
.footer {
    padding: 5px;
    display: inline-block;
    font-weight: bold;
    margin: 0 auto
}
  
footer {
    margin-left: 33%;
}

#footer {
    font-style: italic;
    margin-left: -49%;
}

fieldset {
    width: 400px;
    margin: 0 auto;
    display: block;
    text-align: center;
}